body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000000;
}

.container {
  text-align: center;
  background-color: #030303;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #10e51e;
  z-index: 1;
}

img {
  max-width: 300px;
  height: auto;
  border-radius: 20px;
}